*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #fafafa;
    margin: 0px;
}
.container{
    margin:auto;
    width: 100%;
    padding-inline: 32px;
}
.head{
    text-align: center;
    padding-top: 85px;
    display: grid;
    gap:16px;
}
.head h4{
    margin: 0px;
}
.head h5{
    margin: 0px;
}
.cards{
    display: grid;
    gap: 20px;
    justify-content: center;
}
.supervisor,
.builder,
.karma,
.calculator{
    border-radius: 8px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.50);
    width: 311px;
    height: 222px;
    padding: 27px 0px 0px 28px;
}
.supervisor{
    border-top: 3.5px solid #44D3D2;
    position: relative;
}
.builder{
    border-top: 3.5px solid #EA5454;
    position: relative;
}
.karma{
    border-top: 3.5px solid #FCAE4A;
    position: relative;
}
.calculator{
    border-top: 3.5px solid #549EF2;
    position: relative;
}
.search-icn,
.house-icn,
.karma-icn,
.monitor-icn{
    position: absolute;
    height: 57px;
    width: 57px;
    bottom: 28px;
    right: 28px;
}
.search-icn{
    background-image: url(./search.svg);
}
.house-icn{
    background-image: url(./home.svg);
}
.karma-icn{
    background-image: url(./karma.svg);
}
.monitor-icn{
    background-image: url(./monitor.svg);
}
.head-grid h4{
    color: #4D4F62;
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 0.167px;
}
.head-grid h5{
    color: #4D4F62;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.167px;
}
.head p{
    color: #4D4F62;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.104px;
    opacity: 0.5;
}
.cards h6{
    color: #4D4F62;
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
}
.cards p{
    color: #4D4F62;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.09px;
    opacity: 0.5;
}
.cards{
    padding-bottom: 78px;
}
@media screen and (min-width:1200px) {
    .container{
        padding-inline: 165px;
    }
    .cards{
        grid-template-columns: auto auto auto;
        padding-top: 64px;
        padding-bottom: 80px;
    }   
    .builder{
        grid-column: 2;
    }
    .karma{
        grid-row: 2;
        grid-column: 2;
    }
    .supervisor{
        grid-column: 1;
        grid-row: 1 / span 2;
        margin: 50% 0px;
    }
    .calculator{
        grid-column: 3;
        grid-row: 1/span 2;
        margin: 50% 0px;
    }
    .head-grid h4{
        font-size: 36px;
        font-weight: 275;
        letter-spacing: 0.25px;
    }
    .head-grid h5{
        font-size: 36px;
        font-weight: 600;
        letter-spacing: 0.25px;
    }
    .head p{
        width: 550px;
        font-size: 15px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.104px;
        opacity: 0.5;
        text-align: center;
    }
    .head{
        padding-top: 80px;
        justify-content: center;
    }
    .supervisor,
    .builder,
    .karma,
    .calculator{
        width: 350px;
        height: 250px;
    }
    .search-icn,
    .house-icn,
    .karma-icn,
    .monitor-icn{
        position: absolute;
        height: 57px;
        width: 57px;
        bottom: 32px;
        right: 32px;
    }
}